<ion-view title="Pesquisa de Domínio">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Domínio" ng-model="dataDomain.domain">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Extensão
                </div>
                <select ng-model="dataDomain.extension">
                    <option value="com.br">com.br</option>
                    <option value="adm.br">adm.br</option>
                    <option value="adv.br">adv.br</option>
                    <option value="agr.br">agr.br</option>
                    <option value="am.br">am.br</option>
                    <option value="arq.br">arq.br</option>
                    <option value="art.br">art.br</option>
                    <option value="ato.br">ato.br</option>
                    <option value="b.br">b.br</option>
                    <option value="bio.br">bio.br</option>
                    <option value="blog.br">blog.br</option>
                    <option value="bmd.br">bmd.br</option>
                    <option value="cim.br">cim.br</option>
                    <option value="cng.br">cng.br</option>
                    <option value="cnt.br">cnt.br</option>
                    <option value="coop.br">coop.br</option>
                    <option value="ecn.br">ecn.br</option>
                    <option value="eco.br">eco.br</option>
                    <option value="edu.br">edu.br</option>
                    <option value="emp.br">emp.br</option>
                    <option value="eng.br">eng.br</option>
                    <option value="esp.br">esp.br</option>
                    <option value="etc.br">etc.br</option>
                    <option value="eti.br">eti.br</option>
                    <option value="far.br">far.br</option>
                    <option value="flog.br">flog.br</option>
                    <option value="fm.br">fm.br</option>
                    <option value="fnd.br">fnd.br</option>
                    <option value="fot.br">fot.br</option>
                    <option value="fst.br">fst.br</option>
                    <option value="g12.br">g12.br</option>
                    <option value="ggf.br">ggf.br</option>
                    <option value="gov.br">gov.br</option>
                    <option value="imb.br">imb.br</option>
                    <option value="ind.br">ind.br</option>
                    <option value="inf.br">inf.br</option>
                    <option value="jor.br">jor.br</option>
                    <option value="jus.br">jus.br</option>
                    <option value="leg.br">leg.br</option>
                    <option value="lel.br">lel.br</option>
                    <option value="mat.br">mat.br</option>
                    <option value="med.br">med.br</option>
                    <option value="mil.br">mil.br</option>
                    <option value="mp.br">mp.br</option>
                    <option value="mus.br">mus.br</option>
                    <option value="net.br">net.br</option>
                    <option value="nom.br">nom.br</option>
                    <option value="not.br">not.br</option>
                    <option value="ntr.br">ntr.br</option>
                    <option value="odo.br">odo.br</option>
                    <option value="org.br">org.br</option>
                    <option value="ppg.br">ppg.br</option>
                    <option value="pro.br">pro.br</option>
                    <option value="psc.br">psc.br</option>
                    <option value="psi.br">psi.br</option>
                    <option value="qsl.br">qsl.br</option>
                    <option value="radio.br">radio.br</option>
                    <option value="rec.br">rec.br</option>
                    <option value="slg.br">slg.br</option>
                    <option value="srv.br">srv.br</option>
                    <option value="taxi.br">taxi.br</option>
                    <option value="teo.br">teo.br</option>
                    <option value="tmp.br">tmp.br</option>
                    <option value="trd.br">trd.br</option>
                    <option value="tur.br">tur.br</option>
                    <option value="tv.br">tv.br</option>
                    <option value="vet.br">vet.br</option>
                    <option value="vlog.br">vlog.br</option>
                    <option value="wiki.br">wiki.br</option>
                    <option value="zlg.br">zlg.br</option>
                </select>
            </label>
            <button class="button button-block button-positive" ng-click="searchDomain();">
                PESQUISAR
            </button>
            <div class="card" ng-show="showResult">
                <div class="item item-divider">
                    {{fulldomain}}
                </div>
                <div class="item item-text-wrap">
                    {{message}}
                    <br />
                    <a href="http://google.com/" target="_blank">Click</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>