<ion-view title="Pesquisa de Domínio">
    <ion-content class="padding">
        <div class="list card">

            <div class="item item-avatar">
                <img src="img/avatar.png">
                <h2>Raphael Azeredo</h2>
                <p>Desenvolvedor Web, Mobile e Desktop</p>
            </div>

            <div class="item item-body">
                <a href="#" class="item item-icon-left">
                    <i class="icon ion-email"></i>
                    contato@devria.com.br
                </a>
                <a href="#" class="item item-icon-left">
                    <i class="icon ion-link"></i>
                    http://www.devria.com.br
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>